# copier ce fichier en .env puis adapter les valeurs
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/my-social-networks
JWT_SECRET=remplacer-par-une-longue-chaine-aleatoire
PUBLIC_URL=http://localhost:3000
